SERVER_PORT=3000
NODE_ENV=local

LOTERIAS_CAIXA_LOTOMANIA_URL=https://loterias.caixa.gov.br/Paginas/Lotomania.aspx
CPF=
PASSWORD=
LOCALE_DATE_TIME=pt-BR

# Se tiver problemas com essa browser path, acesse ./docs/nao-encontra-browser-para-testes.md
HEADLESS=false
BROWSER_PATH=/usr/bin/google-chrome-stable

# 1. Getting `TELEGRAM_BOT_HTTP_TOKEN`
#    - Find BotFather in Telegram to create new bots
#    - Start a conversation with BotFather typing: `/newbot`
#    - Create a name and name for your new bot
#    - Save the `TELEGRAM_BOT_HTTP_TOKEN` BotFather will answer to you
#    - BotFather will also give you the link to start conversation with your new bot: `t.me/YOUR_BOT_NAME`

# 2. Getting `TELEGRAM_BOT_CHANNEL_ID`
#    - Send a aleatory message to your new bot you created previously
#    - Access: `https://api.telegram.org/bot<YOUR_TELEGRAM_BOT_HTTP_TOKEN_HERE>/getUpdates`
#    - Copy and save: `chat.id` its a number
TELEGRAM_BOT_HTTP_TOKEN=
TELEGRAM_BOT_CHANNEL_ID=
ENABLE_TELEGRAM_LOG=true
